.countdown {
	@include outer-container;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
}

.vertical-align {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
}