.left {
	@include span-columns(8);
	@include media(max-width 660px) { @include span-columns(12); };
	@include margin(0);
	@include padding(1em);
	height: 100vh;
	background-color: $color-secondary;

	h1 {
		font-size: 20em;

		@include media(max-width 1200px) {
			font-size: 15em;
		}	

		@include media(max-width 660px) {
			font-size: 10em;
		}

		font-weight: 900;
		text-align: center;
		text-shadow: 0 0 15px $color-black;
		@include margin(18% 0 0 0);
	}
		
	h3 {
		font-size: 5em;
		color: $color-white;
		text-align: center;

		@include media(max-width 660px) {
			font-size: 4em;
		}
	}

	iframe {
		@include padding(0);
		float: left;

		@include media(max-width 660px) {
			display: none;
		}
	}


}