.middle {
	@include span-columns(0);
	@include margin(0);
	height: 100vh;
	position: relative;
    display: inline-block;
	
	@include media(max-width 850px) { 
		display: none; 
	};

	h2 {
		font-size: 8em;
		@include media(max-width 1200px) { font-size: 7em; };
		@include media(max-width 480px) { font-size: 4em; };
		text-align: center;
		color: $color-secondary;

		position: absolute;
		top: 50%;

		@include transform(translateX(-40%) translateY(-50%) rotate(-90deg));
	}
}